<footer class="section-pad container-brand bg-fill-brand" id="contact">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell small-3 medium-3 large-2 text-right">
        {% svg "/assets/img/ggc-icon.svg" class="svg-color--white logo-medium" preserveAspectRatio="xMidYMid meet" %}
      </div>	
      <div class="cell small-9 medium-6 large-4 contact-block">
        <h3 class="headline-1 name">Steven Gottlieb</h3>
        {% include components/nav-footer.html %}
      </div>
    </div>
  </div>
</footer>
{% include foot.html %}
